html {
    width: 100%;
}

body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
}

#PageList {
    left: 0;
    top: 0;
    position: absolute;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
    width: 200px; /* TODO - don't hardcode the width */
}

#PageList ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#PageList h2 {
    text-transform: uppercase;
    font-size: 10px;
    padding: 3px 10px;
    margin: 0;
    line-height: 14px;
    background-repeat: repeat-x;
}

#PageList a {
    display: block;
    padding: 8px 20px;
    font-size: 13px;
    text-decoration: none;
}

#PageList a:hover {
    text-decoration: none;
}

#MainFrame {
    border: none;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    -webkit-box-shadow:  0px 0px 30px 1px rgba(0, 0, 0, 1);
    box-shadow:  0px 0px 30px 1px rgba(0, 0, 0, 1);
}

#Button {
    position: fixed;
    left: -1px;
    top: 20%;
    border-left: none;
    padding: 10px;
    z-index: 1000;
    background-repeat: repeat-x;
    width: 28px;
    height: 27px;
    -webkit-border-radius: 0px 3px 3px 0px;
    border-radius: 0px 3px 3px 0px;
}

#Button:hover {
    cursor: pointer;
}

#Button .icon {
    position: absolute;
    right: 10px;
}

.icon {
    height: 28px;
    width: 28px;
    display: block;
}

#Footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 180px;
    padding: 15px 10px;
    background: #333;
    border-top: solid 1px #222;
    -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.2);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.2);
}

#Footer input {
    width: 110px;
    margin: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: solid 1px #333;
    background: #666666;
    -moz-box-shadow: 0 1px 1px rgba(255,255,255,0.2);
    -webkit-box-shadow: 0 1px 1px rgba(255,255,255,0.2);
    box-shadow: 0 1px 1px rgba(255,255,255,0.2);
    color: #aaa;
    padding: 5px 20px 5px 5px;
    font-size: 11px;
}

#Footer input:hover {
    background: #777777;
    color: #ccc;
}

#Footer input:focus {
    border: solid 1px #333;
    background: #fff;
    color: #333;
    outline: none;
}

.ico-clearfield {
    text-indent: -10000px;
    display: none;
    width: 16px;
    height: 16px;
    background: url(../images/ico-clearfield.png) no-repeat 0 0;
    position: absolute;
    right: 55px;
    top: 20px;
}

/* Themes */

#PageList {
    background: url(../images/bg-dark.jpg);
    border-right: solid 1px #000;
}

.light #PageList {
    background: url(../images/bg-light.jpg);
    border-right: solid 1px #FFF;
}

#PageList ul {
    background: #333;
}

.light #PageList ul {
    background: #c7c7c7;
}

#PageList h2 {
    color: #bbb;
    border-top: solid 1px rgba(255,255,255,0.1);
    border-bottom: solid 1px rgba(0,0,0,0.5);
    background-image:-khtml-gradient(linear, left top, left bottom, from(#4a4a4a), to(#3a3a3a));
    background-image:-moz-linear-gradient(top, #4a4a4a, #3a3a3a);
    background-image:-ms-linear-gradient(top, #4a4a4a, #3a3a3a);
    background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #4a4a4a), color-stop(100%, #3a3a3a));
    background-image:-webkit-linear-gradient(top, #4a4a4a, #3a3a3a);background-image:-o-linear-gradient(top, #4a4a4a, #3a3a3a);
    background-image:linear-gradient(top, #4a4a4a, #3a3a3a);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4a4a4a', endColorstr='#3a3a3a', GradientType=0);
    text-shadow: 1px 1px 0 rgba(0,0,0,0.8);
}

.light #PageList h2 {
    color: #333;
    border-top: solid 1px rgba(255,255,255,0.1);
    border-bottom: solid 1px rgba(0,0,0,0.5);
    background-image:-khtml-gradient(linear, left top, left bottom, from(#adadad), to(#9a9a9a));
    background-image:-moz-linear-gradient(top, #adadad, #9a9a9a);
    background-image:-ms-linear-gradient(top, #adadad, #9a9a9a);
    background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #adadad), color-stop(100%, #9a9a9a));
    background-image:-webkit-linear-gradient(top, #adadad, #9a9a9a);background-image:-o-linear-gradient(top, #adadad, #9a9a9a);
    background-image:linear-gradient(top, #adadad, #9a9a9a);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#adadad', endColorstr='#9a9a9a', GradientType=0);
    text-shadow: 1px 1px 0 rgba(255,255,255,0.3);
}

#PageList a {
    color: #ddd;
    border-top: solid 1px rgba(255,255,255,0.1);
    border-bottom: solid 1px rgba(0,0,0,0.5);
}

.light #PageList a {
    color: #333;
    border-top: solid 1px rgba(255,255,255,0.5);
    border-bottom: solid 1px rgba(0,0,0,0.3);
}

#PageList a:hover {
    background: rgba(0,0,0,0.1);
    border-top: solid 1px rgba(255,255,255,0.15);
}

#PageList li.active a {
    background: rgba(0,0,0,0.3);
    border-top: solid 1px rgba(0,0,0,0);
}

.light #PageList li.active a {
    background: rgba(255,255,255,0.5);
}

#MainFrame {
    background: #333;
}

.light #MainFrame {
    background: #adadad;
}

#Button {
    border: solid 1px rgba(0,0,0,0.7);
    border-left: none;
    color: #fff;
    background-image:-khtml-gradient(linear, left top, left bottom, from(#4a4a4a), to(#2a2a2a));
    background-image:-moz-linear-gradient(top, #4a4a4a, #2a2a2a);
    background-image:-ms-linear-gradient(top, #4a4a4a, #2a2a2a);
    background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #4a4a4a), color-stop(100%, #2a2a2a));
    background-image:-webkit-linear-gradient(top, #4a4a4a, #2a2a2a);background-image:-o-linear-gradient(top, #4a4a4a, #2a2a2a);
    background-image:linear-gradient(top, #4a4a4a, #2a2a2a);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4a4a4a', endColorstr='#2a2a2a', GradientType=0);
    -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.2);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.2);
}

.light #Button {
    border: solid 1px rgba(255,255,255,0.5);
    border-top: solid 1px rgba(255,255,255,0.9);
    border-bottom: solid 1px rgba(255,255,255,0.3);
    border-left: none;
    color: #333;
    background-image:-khtml-gradient(linear, left top, left bottom, from(#adadad), to(#7c7c7c));
    background-image:-moz-linear-gradient(top, #adadad, #7c7c7c);
    background-image:-ms-linear-gradient(top, #adadad, #7c7c7c);
    background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #adadad), color-stop(100%, #7c7c7c));
    background-image:-webkit-linear-gradient(top, #adadad, #7c7c7c);background-image:-o-linear-gradient(top, #adadad, #7c7c7c);
    background-image:linear-gradient(top, #adadad, #7c7c7c);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#adadad', endColorstr='#7c7c7c', GradientType=0);
    -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.2);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.2);
}

#Button:hover {
    background: #4a4a4a;
}

.light #Button:hover {
    background: #7c7c7c;
    border: solid 1px rgba(255,255,255,0.5);
    border-bottom: solid 1px rgba(255,255,255,0.1);
    border-left: none;
}

#Button:active {
    -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,1);
    box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,1);
}

.icon-list {
    background: url(../images/ico-list-dark.png) no-repeat 0 0;
}

.icon-close {
    background: url(../images/ico-close-dark.png) no-repeat 0 0;
}

.light .icon-list {
    background: url(../images/ico-list-light.png) no-repeat 0 0;
}

.light .icon-close {
    background: url(../images/ico-close-light.png) no-repeat 0 0;
}
